In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import sklearn as

In [3]:
df = pd.read_csv("Data/8_36_copy.csv", delimiter = ";")

In [4]:
df.head(10)

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,-21.268772,5.658494,15.694725,-21.573510,-0.105075,13.976255,24.497833,5.462243,-22.654869,-2.512159
1,-21.896195,3.149057,14.521728,-22.465232,-1.900296,12.834018,26.021821,6.668081,-25.535029,-0.861294
2,-20.993592,6.066762,15.965096,-23.837587,-3.383199,16.203912,24.224095,5.507131,-25.219089,-4.275716
3,19.398259,21.924278,17.982045,1.779974,-12.822293,-24.046872,-1.337472,-3.491556,0.367888,-1.337761
4,-21.026319,23.054265,-19.370971,-10.060180,-19.241204,-15.206898,-5.533422,20.489154,-9.172018,23.712057
5,-22.450642,-9.693879,-5.095911,11.043118,21.141724,-5.555858,-0.891651,-11.464322,14.254194,8.338259
6,-14.855272,7.695260,-15.767561,-18.401784,1.249840,-18.819503,9.123466,20.539531,23.505826,-6.684923
7,-23.989792,-7.493153,-4.840099,14.789728,22.788921,-10.501291,-3.267476,-12.051774,15.206939,6.306451
8,-23.969745,-6.834438,-8.642727,11.700804,21.936661,-7.113352,-4.265291,-11.003386,16.803376,5.867556
9,-17.588220,4.727917,-14.150823,-19.867924,-0.009068,-19.792233,13.582862,20.613472,22.449279,-4.503489

In [5]:
for i in range(df.shape[1]):
    mask = "Column"
    mask = mask + str(i + 1)
    mean = df[mask].mean()
    df[mask] = df[mask] - mean

In [6]:
df.head(10)

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,-11.416461,-3.247287,14.678538,-17.468253,1.083290,23.245661,22.215848,-3.803796,-22.580648,-3.758309
1,-12.043885,-5.756724,13.505541,-18.359974,-0.711931,22.103424,23.739836,-2.597958,-25.460808,-2.107444
2,-11.141282,-2.839019,14.948910,-19.732329,-2.194834,25.473318,21.942110,-3.758908,-25.144868,-5.521866
3,29.250569,13.018497,16.965858,5.885232,-11.633928,-14.777466,-3.619457,-12.757595,0.442109,-2.583911
4,-11.174008,14.148484,-20.387157,-5.954922,-18.052838,-5.937491,-7.815406,11.223115,-9.097797,22.465907
5,-12.598331,-18.599660,-6.112098,15.148376,22.330090,3.713548,-3.173636,-20.730361,14.328415,7.092108
6,-5.002961,-1.210521,-16.783748,-14.296526,2.438205,-9.550097,6.841481,11.273492,23.580047,-7.931073
7,-14.137481,-16.398934,-5.856286,18.894986,23.977286,-1.231884,-5.549460,-21.317813,15.281160,5.060301
8,-14.117435,-15.740219,-9.658914,15.806062,23.125027,2.156054,-6.547276,-20.269425,16.877597,4.621406
9,-7.735910,-4.177864,-15.167010,-15.762667,1.179297,-10.522826,11.300878,11.347433,22.523500,-5.749639

In [7]:
df_transp = df.T

In [8]:
teta = (1/df_transp.shape[1]) * df.dot(df_transp)

In [13]:
lambda1 = np.linalg.eig(teta)[0]

In [14]:
lambda1

array([ 5.08159948e+02+0.00000000e+00j,  4.86450555e+02+0.00000000e+00j,
        4.66333876e+02+0.00000000e+00j,  1.80979184e+02+0.00000000e+00j,
        2.05353285e+02+0.00000000e+00j,  3.47363403e+00+0.00000000e+00j,
        2.70324990e+00+0.00000000e+00j,  1.42553146e+00+0.00000000e+00j,
        1.67996696e+00+0.00000000e+00j,  2.08303433e+00+0.00000000e+00j,
        3.31974489e-14+6.10398602e-15j,  3.31974489e-14-6.10398602e-15j,
       -2.90277709e-14+0.00000000e+00j, -2.57048608e-14+1.07197860e-14j,
       -2.57048608e-14-1.07197860e-14j,  2.37376366e-14+3.03234892e-15j,
        2.37376366e-14-3.03234892e-15j, -2.27382311e-14+0.00000000e+00j,
        1.88759028e-14+4.36576102e-15j,  1.88759028e-14-4.36576102e-15j,
        1.90805329e-14+0.00000000e+00j, -2.04507304e-14+2.63474807e-15j,
       -2.04507304e-14-2.63474807e-15j,  1.58304707e-14+0.00000000e+00j,
        1.37308456e-14+4.30344351e-15j,  1.37308456e-14-4.30344351e-15j,
       -1.76934093e-14+0.00000000e+00j,  7.27712331e-15+8.11748859e-15j,
        7.27712331e-15-8.11748859e-15j,  9.51345148e-15+4.93140705e-15j,
        9.51345148e-15-4.93140705e-15j, -1.13499177e-14+7.78386951e-15j,
       -1.13499177e-14-7.78386951e-15j, -1.46433057e-14+0.00000000e+00j,
       -9.44687482e-15+7.62056013e-15j, -9.44687482e-15-7.62056013e-15j,
       -1.24843406e-14+0.00000000e+00j, -1.09800574e-14+2.01721765e-15j,
       -1.09800574e-14-2.01721765e-15j,  1.49714536e-15+8.02412339e-15j,
        1.49714536e-15-8.02412339e-15j, -5.08094789e-15+7.00298280e-15j,
       -5.08094789e-15-7.00298280e-15j, -8.61887038e-15+3.07602391e-15j,
       -8.61887038e-15-3.07602391e-15j,  8.36728255e-15+0.00000000e+00j,
        8.78323766e-16+5.33006609e-15j,  8.78323766e-16-5.33006609e-15j,
        4.00135111e-15+3.67101562e-15j,  4.00135111e-15-3.67101562e-15j,
        4.76890155e-15+0.00000000e+00j,  3.38899648e-15+1.29879988e-15j,
        3.38899648e-15-1.29879988e-15j, -1.58229471e-15+4.25972217e-15j,
       -1.58229471e-15-4.25972217e-15j, -6.90561588e-15+0.00000000e+00j,
       -4.08141158e-15+2.40246086e-16j, -4.08141158e-15-2.40246086e-16j,
       -2.64028440e-15+6.37631292e-16j, -2.64028440e-15-6.37631292e-16j])

In [16]:
lambda_sum = lambda1.sum()

In [17]:
lambda_sum

(1858.6422648190558+0j)

In [18]:
lambda2 = lambda1 / lambda_sum